/*==================================================*/
/*Mặc định*/
@font-face {
	font-family: minecraft;
	src: url(../fonts/Minecrafter.Reg.ttf);
}
:root {
	--border: 2px solid #525252;
	--bg: #171717;
	--border-light: #d7d7d7;
	--bg-light: #f3f3f3;
	--hover-color: #1d4ed8;
	font-family: sans-serif;
	user-select: none;
}
/*Custom Scrollbar*/
::-webkit-scrollbar {
	background-color: #262626;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--bg);
	border: var(--border);
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
li::-webkit-scrollbar {
	height: 10px;
}
* {
	color: white;
}
body {
	background-color: #262626;
	margin: 0;
}
li {
	list-style: none;
}
table {
	border-collapse: collapse;
	font-size: 16px;
	width: 100%;
}
th, td {
	border: 1px solid #525252;
	padding: 3px;
}
.table {
	margin: 0 5px 5px 5px;
}
iframe {
	display: block;
	height: 450px;
	margin: 10px auto 10px auto;
	width: 800px;
}
button {
	background-color: transparent;
	border: var(--border);
	cursor: pointer;
	font-size: 20px;
	margin: 20px;
}
button:hover {
	border-color: var(--hover-color);
}
button:active {
	border-color: yellow;
}
.button {
	display: flex;
	justify-content: center;
}
.uuid {
	cursor: text;
	font-size: 30px;
	margin: 30px 0 30px 0;
	text-align: center;
	user-select: text;
}
.glyph {
	cursor: text;
	font-size: 30px;
	margin: 10px 0 10px 0;
	text-align: center;
	user-select: text;
}
.glyphFlex {
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;
	width: 30%;
}
.glyphInput {
	background-color: transparent;
	border: none;
	border-bottom: var(--border);
	font-size: 16px;
	margin-left: 10px;
	outline: none;
}
.glyphInput:hover {
	border-bottom: 2px solid var(--hover-color);
}
.ads {
	display: block;
}
/*==================================================*/
/*Theme*/
.themeLight {
	background-color: white;
}
.themeLight * {
	color: black;
}
.themeLight header {
	color: black;
	background-color: var(--bg-light);
	border-bottom-color: var(--border-light);
}
.themeLight th, .themeLight td {
	border-color: var(--border-light);
}
.themeLight::-webkit-scrollbar {
	background-color: white;
}
.themeLight::-webkit-scrollbar-thumb {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
.themeLight .sidebar::-webkit-scrollbar {
	background-color: white;
}
.themeLight .sidebar::-webkit-scrollbar-thumb {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .sidebar::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
.themeLight .sidebarIconClose {
	content: url(../media/header/sidebar_icon_close_light.png);
}
.themeLight .sidebarIconOpen {
	content: url(../media/header/sidebar_icon_open_light.png);
}
.themeLight .searchBar {
	border-bottom-color: var(--border-light);
}
.themeLight .searchIcon {
	content: url(../media/header/search_icon_light.png);
}
.themeLight .searchBox {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .searchBox li {
	outline-color: var(--border-light);
}
.themeLight .searchBox li:hover {
	background-color: var(--hover-color);
}
.themeLight .sidebar {
	background-color: var(--bg-light);
	border-right-color: var(--border-light);
}
.themeLight .sidebarTitle {
	border-bottom-color: var(--border-light);
}
.themeLight .sidebarLine {
	outline-color: var(--border-light);
}
.themeLight .sidebar li {
	outline-color: var(--border-light);
}
.themeLight .sidebarEnd {
	border-top-color: var(--border-light);
}
.themeLight .sidebarBlur {
	background: rgba(222, 222, 222, .80);
}
.themeLight .dropdown::before {
	color: red;
}
.themeLight .dropdownActive::before {
	color: lime;
}
.themeLight .contentHeader {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .contentBox {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .contentTitle {
	border-bottom-color: var(--border-light);
}
.themeLight .textSyntax {
	color: #00bec1;
}
.themeLight footer {
	background-color: var(--bg-light);
	border-top-color: var(--border-light);
}
.themeLight .logoYoutube {
	content: url(../media/logo/logo_youtube_light.png);
}
.themeLight .logoDiscord {
	content: url(../media/logo/logo_discord_light.png);
}
.themeLight .logoTwitter {
	content: url(../media/logo/logo_twitter_light.png);
}
.themeLight .logoFacebook {
	content: url(../media/logo/logo_facebook_light.png);
}
/*==================================================*/
/*Thuộc Header*/
header {
	align-items: center;
	background-color: var(--bg);
	border-bottom: var(--border);
	display: flex;
	position: sticky;
	top: 0;
	z-index: 3;
}
.sidebarIcon {
	cursor: pointer;
	height: 45px;
	margin: 5px;
	width: 45px;
}
.sidebarIconClose {
	content: url(../media/header/sidebar_icon_close.png);
}
.sidebarIconClose:hover {
	content: url(../media/header/sidebar_icon_close_hover.png);
}
.sidebarIconOpen {
	content: url(../media/header/sidebar_icon_open.png);
}
.sidebarIconOpen:hover {
	content: url(../media/header/sidebar_icon_open_hover.png);
}
.sidebarIconHide {
	display: none;
}
.logoWiki {
	content: url(../media/logo/logo_wiki.png);
	height: 45px;
	margin: 5px;
	margin-left: 10px;
	width: 45px;
}
.logoWiki:hover {
	content: url(../media/logo/logo_wiki_hover.png);
}
.headerTitle {
	cursor: pointer;
	margin-top: 3px;
	font-family: minecraft;
	font-size: 30px;
	text-decoration: none;
}
.themeIcon {
	cursor: pointer;
	height: 45px;
	margin: 5px;
	width: 45px;
}
.themeIconDark {
	content: url(../media/header/theme_dark.png);
}
.themeIconLight {
	content: url(../media/header/theme_light.png);
}
.themeHide {
	display: none;
}
.search {
	margin-left: auto;
	margin-right: 3%;
	height: 30px;
	width: 220px;
}
.searchBar {
	align-items: center;
	border-bottom: var(--border);
	display: flex;
}
.searchBar:hover {
	border-bottom-color: var(--hover-color);
}
.searchIcon {
	content: url(../media/header/search_icon.png);
	cursor: pointer;
	height: 16px;
	margin: 5px;
	width: 16px;
}
.searchIcon:hover {
	content: url(../media/header/search_icon_hover.png);
}
.searchInput {
	background-color: transparent;
	border: none;
	font-size: 16px;
	height: 100%;
	outline: none;
	width: 100%;
}
.searchBox {
	background-color: var(--bg);
	border: var(--border);
	border-top: none;
	cursor: pointer;
	overflow-y: auto;
}
.searchBoxHide {
	display: none;
}
.searchBox li {
	display: block;
	outline: 1px solid #525252;
	overflow-x: auto;
	padding: 5px;
}
.searchBox li:hover {
	background-color: var(--hover-color);
}
/*==================================================*/
/*Sidebar*/
.sidebar {
	background-color: var(--bg);
	border-right: var(--border);
	height: 90%;
	overflow-y: auto;
	position: fixed;
	width: 200px;
	z-index: 2;
}
.sidebar::-webkit-scrollbar-thumb {
	border-right: none;
}
.sidebar::-webkit-scrollbar-thumb:hover {
	border-right: 2px solid var(--hover-color);
}
.sidebarClose {
	display: none;
}
.sidebarTitle {
	border-bottom: var(--border);
	font-size: 30px;
	margin: 10px;
	width: fit-content;
}
.sidebarLine {
	outline: 1px solid #525252;
}
.sidebar li {
	display: block;
	font-size: 16px;
	outline: 1px solid #525252;
	overflow-x: auto;
	padding: 10px;
}
.sidebar li::before {
	content: "▷";
	display: inline-block;
	margin-right: 3px;
}
.sidebarEnd {
	border-top: var(--border);
	height: 10%;
}
.sidebarBlur {
	background: rgba(38, 38, 38, .80);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1;
}
/*==================================================*/
/*Dropdown*/
.dropdown {
	cursor: cell;
}
.dropdown::before {
	color: #ff2626;
}
.dropdownActive {
	cursor: not-allowed;
}
.dropdownActive::before {
	color: lime;
	transform: rotate(90deg);
}
.dropdownHide {
	display: none;
}
.dropdownShow {
	display: block;
}
.dropdownShow li {
	padding-left: 20px;
}
.dropdownTab {
	padding-left: 10px;
}
/*==================================================*/
/*Text color/decoration*/
.textLink:link, .textLink:visited {
	color: #3b82f6;
	text-decoration: none;
}
.textLink:hover {
	color: var(--hover-color);
	text-decoration: underline;
}
.textLink:active {
	color: yellow;
	text-decoration: underline;
}
.textCommand {
	color: #c67d4e;
	cursor: text;
	user-select: text;
}
.textSyntax {
	color: #00e9ed;
	cursor: text;
	user-select: text;
}
.textNote {
	color: #ff2626 !important;
	cursor: zoom-in;
	font-style: italic;
}
.textNote::before {
	content: "(";
}
.textNote::after {
	content: ")";
}
.textNote:hover {
	font-size: 25px;
}
.textWip:after {
	content: " (WIP) ";
	color: yellow;
}
/*==================================================*/
/*Content*/
.content {
	display: flex;
	flex-direction: column;
}
.contentHeader {
	align-self: center;
	background-color: var(--bg);
	border: var(--border);
	font-size: 30px;
	margin: 15px 15px 0 15px;
	padding: 10px;
}
.contentBox {
	background-color: var(--bg);
	border: var(--border);
	margin: 15px;
	margin-bottom: 0;
}
.contentGroup {
	align-items: center;
	display: flex;
	margin: 10px;
}
.contentIcon {
	height: 45px;
	margin-right: 5px;
	width: 45px;
}
.contentTitle {
	border-bottom: var(--border);
	font-size: 30px;
	padding-bottom: 2px;
	width: fit-content;
}
.contentText {
	font-size: 16px;
	margin: 5px;
	margin-left: 10px;
}
.contentText::before {
	content: "▷";
	display: inline-block;
	margin-right: 3px;
}
/*==================================================*/
/*Icon*/
.iconInfo {
	content: url(../media/icon/icon_info.png);
}
.iconInfo:hover {
	content: url(../media/icon/icon_info_hover.png);
}
.iconCongDung {
	content: url(../media/icon/icon_cong_dung.png);
}
.iconCongDung:hover {
	animation: congDung 1s linear infinite;
}
@keyframes congDung {
	100% {
		transform: rotateZ(360deg);
	}
}
.iconDoiTuong {
	content: url(../media/icon/icon_doi_tuong.png);
}
.iconDoiTuong:hover {
	animation: doiTuong 1s linear infinite;
}
@keyframes doiTuong {
	100% {
		transform: rotateY(360deg);
	}
}
.iconCuPhap {
	content: url(../media/icon/icon_cu_phap.png);
}
.iconCuPhap:hover {
	content: url(../media/icon/icon_cu_phap.gif);
}
.iconLuuY {
	content: url(../media/icon/icon_luu_y.png);
}
.iconLuuY:hover {
	animation: luuY 1s linear infinite;
}
@keyframes luuY {
	60% {
		transform: translateY(-6px);
	}
}
/*==================================================*/
/*Image*/
.image404 {
	content: url(../media/image/404_error.png);
	margin: 5px auto 5px auto;
	height: 50%;
	width: 50%;
}
.imageRx {
	content: url(../media/image/rx.png);
	margin: 5px auto 5px auto;
	height: 40%;
	width: 40%;
}
.imageRy {
	content: url(../media/image/ry.png);
	margin: 5px auto 5px auto;
	height: 40%;
	width: 40%;
}
.imageCmdbUi {
	content: url(../media/image/cmdb_ui.png);
	margin: 5px auto 5px auto;
	height: 50%;
	width: 50%;
}
.imageCmdbType {
	content: url(../media/image/cmdb_type.png);
	margin: 5px auto 5px auto;
	height: 30%;
	width: 30%;
}
.imageCmdbCondition {
	content: url(../media/image/cmdb_condition.png);
	margin: 5px auto 5px auto;
	height: 30%;
	width: 30%;
}
.imageCmdbRedstone {
	content: url(../media/image/cmdb_redstone.png);
	margin: 5px auto 5px auto;
	height: 30%;
	width: 30%;
}
.imageDamage {
	content: url(../media/image/damage.png);
	margin: 5px auto 5px auto;
	height: 50%;
	width: 50%;
}
.imageRick {
	content: url(../media/image/rick_roll.gif);
	display: none;
	margin: 5px auto 5px auto;
	height: 50%;
	width: 50%;
}
.imageHg {
	content: url(../media/image/hg.png);
	margin: 5px auto 5px auto;
	height: 20%;
	width: 20%;
}
.imageGlyph {
	content: url(../media/image/glyph.png);
	margin: 5px auto 5px auto;
	height: 50%;
	width: 50%;
}
/*==================================================*/
/*Thuộc Footer*/
footer {
	align-items: center;
	background-color: var(--bg);
	border-top: var(--border);
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
.socialLogo {
	height: 40px;
	margin: 8px;
	width: 40px;
}
.logoYoutube {
	content: url(../media/logo/logo_youtube.png);
}
.logoYoutube:hover {
	content: url(../media/logo/logo_youtube_hover.png);
}
.logoDiscord {
	content: url(../media/logo/logo_discord.png);
}
.logoDiscord:hover {
	content: url(../media/logo/logo_discord_hover.png);
}
.logoTwitter {
	content: url(../media/logo/logo_twitter.png);
}
.logoTwitter:hover {
	content: url(../media/logo/logo_twitter_hover.png);
}
.logoFacebook {
	content: url(../media/logo/logo_facebook.png);
}
.logoFacebook:hover {
	content: url(../media/logo/logo_facebook_hover.png);
}
.copyright {
	align-items: center;
	display: flex;
	margin: 5px 0 5px 0; 
}
.copyright1 {
	align-items: center;
	display: flex;
}
.copyrightSide::before {
	content: "|";
	margin-left: 3px;
	margin-right: 3px;
}
/*==================================================*/
/*Mobile*/
@media (max-width: 767px) {
	.themeLight .sidebar {
		border-left-color: var(--border-light);
	}
	header {
		align-items: center;
		flex-wrap: wrap;
	}
	table {
		font-size: 12px;
	}
	iframe {
		display: none;
	}
	.uuid {
		font-size: 12px;
	}
	.glyphFlex {
		width: 70%;
	}
	.ads {
		display: none;
	}
	.logoWiki {
		margin-left: 5px;
		order: 1;
	}
	.headerTitle {
		margin-top: 3px;
		font-size: 18px;
		order: 2;
	}
	header .sidebarIcon {
		margin-left: auto;
		order: 3;
	}
	.search {
		margin-bottom: 1%;
		margin-left: auto; /*3%*/
		margin-right: auto;
		justify-content: center;
		order: 4;
	}
	header .themeIcon {
		order: 5;
	}
	.sidebar {
		border-left: var(--border);
		border-right: none;
		right: 0;
	}
	.sidebar::-webkit-scrollbar-thumb {
		border-right: var(--border);
	}
	.sidebarTitle {
		font-size: 24px;
	}
	.sidebar li {
		font-size: 14px;
	}
	.contentTitle {
		font-size: 24px;
		margin: 10px;
		width: fit-content;
	}
	.contentText {
		font-size: 12px;
		margin: 5px;
		margin-left: 10px;
	}
	.image404 {
		height: 80%;
		width: 80%;
	}
	.imageRx {
		height: 90%;
		width: 90%;
	}
	.imageRy {
		height: 90%;
		width: 90%;
	}
	.imageCmdbUi {
		height: 80%;
		width: 80%;
	}
	.imageCmdbType {
		height: 60%;
		width: 60%;
	}
	.imageCmdbCondition {
		height: 60%;
		width: 60%;
	}
	.imageCmdbRedstone {
		height: 60%;
		width: 60%;
	}
	.imageDamage {
		height: 80%;
		width: 80%;
	}
	.imageRick {
		display: block;
		height: 80%;
		width: 80%;
	}
	.imageHg {
		height: 50%;
		width: 50%;
	}
	.imageGlyph {
		height: 80%;
		width: 80%;
	}
	.footerLink {
		font-size: 16px;
	}
	.socialLogo {
		height: 30px;
		width: 30px;
	}
	.copyright {
		font-size: 12px;
	}
	.copyright {
		flex-direction: column;
	}
	.copyrightSide {
		display: none;
	}
	.copyright2 {
		order: 1;
	}
	.copyright3 {
		order: 2;
	}
	.copyright1 {
		order: 3;
	}
}
/*==================================================*/