/*==================================================*/
/*Mặc định*/
@font-face {
	font-family: minecraft;
	src: url(../fonts/Minecrafter.Reg.ttf);
}
:root {
	--border: 2px solid #525252;
	--bg: #171717;
	--hover-color: #1d4ed8;
	--border-light: #d7d7d7;
	--bg-light: #f3f3f3;
}
* {
	cursor: none;
	user-select: none;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	color: white;
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
}
body {
	background-color: #262626;
	font-size: 16px;
}
/*Custom Scrollbar*/
::-webkit-scrollbar {
	background-color: #262626;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--bg);
	border: var(--border);
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
li::-webkit-scrollbar {
	height: 10px;
}
li {
	list-style: none;
}
table {
	border-collapse: collapse;
	font-size: 1rem;
	width: 100%;
}
th, td {
	border: 1px solid #525252;
	padding: 3px;
}
.table {
	margin: 0 5px 5px 5px;
}
.iframe {
	width: 800px;
	height: 450px;
	margin: 10px auto 10px auto;
	display: block;
}
button {
	background-color: transparent;
	border: var(--border);
	margin: 20px;
	font-size: 1.25rem;
}
button:hover {
	border-color: var(--hover-color);
}
button:active {
	border-color: yellow;
}
.button {
	display: flex;
	justify-content: center;
}
.result {
	user-select: text;
	font-size: 1.875rem;
	text-align: center;
}
.uuid {
	margin: 30px 0 30px 0;
}
.glyph {
	margin: 10px 0 10px 0;
}
.glyphFlex {
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;
	width: 30%;
}
.input, .textarea {
	background-color: transparent;
	border: none;
	border-bottom: var(--border);
	font-size: 1rem;
	margin-left: 20px;
	resize: none;
	outline: none;
}
.input:hover {
	border-bottom: 2px solid var(--hover-color);
}
.dialogueSpace {
	margin-bottom: 20px;
}
.dialogueFlex {
	display: flex;
	flex-wrap: wrap;
}
/*==================================================*/
/*Custom Cursor*/
.cursor {
	pointer-events: none;
	content: url(../media/cursor/default.png);
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	position: fixed;
	/*transform: rotateZ(-45deg);*/
	z-index: 100;
}
.cursorOut {
	display: none;
}
.cursorTyping {
	content: url(../media/cursor/typing.png);
}
.cursorCopy {
	content: url(../media/cursor/copy.png);
}
.cursorWip {
	content: url(../media/icon/icon_luu_y.png);
}
.cursorExpand {
	content: url(../media/cursor/expand.png);
}
.cursorCollapse {
	content: url(../media/cursor/collapse.png);
}
.cursorZoom {
	content: url(../media/cursor/zoom.png);
}
.cursorClick {
	content: url(../media/cursor/click.png);
	width: 30px;
	height: 40px;
	transform: rotateZ(-45deg);
}
/*==================================================*/
/*Theme*/
.themeLight {
	background-color: white;
}
.themeLight * {
	color: black;
}
.themeLight header {
	background-color: var(--bg-light);
	border-bottom-color: var(--border-light);
	color: black;
}
.themeLight th, .themeLight td {
	border-color: var(--border-light);
}
.themeLight::-webkit-scrollbar {
	background-color: white;
}
.themeLight::-webkit-scrollbar-thumb {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
.themeLight .sidebar::-webkit-scrollbar {
	background-color: white;
}
.themeLight .sidebar::-webkit-scrollbar-thumb {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .sidebar::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
.themeLight .sidebarIconClose {
	filter: brightness(0);
}
.themeLight .sidebarIconOpen {
	filter: brightness(0);
}
.themeLight .searchBar {
	border-bottom-color: var(--border-light);
}
.themeLight .searchIcon {
	filter: brightness(0);
}
.themeLight .searchBox {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .searchBox li {
	outline-color: var(--border-light);
}
.themeLight .searchBox li:hover {
	background-color: var(--hover-color);
}
.themeLight .sidebar {
	background-color: var(--bg-light);
	border-right-color: var(--border-light);
}
.themeLight .sidebarTitle {
	border-bottom-color: var(--border-light);
}
.themeLight .sidebarLine {
	outline-color: var(--border-light);
}
.themeLight .sidebar li {
	outline-color: var(--border-light);
}
.themeLight .sidebarEnd {
	border-top-color: var(--border-light);
}
.themeLight .sidebarBlur {
	background: rgba(222, 222, 222, .80);
}
.themeLight .dropdown::before {
	color: red;
}
.themeLight .dropdownActive::before {
	color: lime;
}
.themeLight .contentHeader {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .contentBox {
	background-color: var(--bg-light);
	border-color: var(--border-light);
}
.themeLight .contentTitle {
	border-bottom-color: var(--border-light);
}
.themeLight .textSyntax {
	color: #00bec1;
}
.themeLight footer {
	background-color: var(--bg-light);
	border-top-color: var(--border-light);
}
.themeLight .logoYoutube {
	filter: brightness(0);
}
.themeLight .logoDiscord {
	filter: brightness(0);
}
.themeLight .logoTwitter {
	filter: brightness(0);
}
.themeLight .logoFacebook {
	filter: brightness(0);
}
/*==================================================*/
/*Thuộc Header*/
header {
	background-color: var(--bg);
	border-bottom: var(--border);
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 3;
}
.sidebarIcon {
	width: 45px;
	height: 45px;
	margin: 5px;
}
.sidebarIconClose {
	content: url(../media/header/sidebar_icon_close.png);
	filter: brightness(100);
}
.sidebarIconClose:hover {
	filter: brightness(1);
}
.sidebarIconOpen {
	content: url(../media/header/sidebar_icon_open.png);
	filter: brightness(100);
}
.sidebarIconOpen:hover {
	filter: brightness(1);
}
.logoWiki {
	content: url(../media/logo/logo_wiki.png);
	width: 45px;
	height: 45px;
	margin: 5px;
	margin-left: 10px;
}
.logoWiki:hover {
	filter: hue-rotate(-150deg);
}
.headerTitle {
	margin-top: 3px;
	font-family: minecraft;
	font-size: 1.875rem;
	text-decoration: none;
}
.themeIcon {
	width: 45px;
	height: 45px;
	margin: 5px;
}
.themeIconDark {
	content: url(../media/header/theme_dark.png);
}
.themeIconDark:hover {
	content: url(../media/header/theme_light.png);
}
.themeIconLight {
	content: url(../media/header/theme_light.png);
}
.themeIconLight:hover {
	content: url(../media/header/theme_dark.png);
}
.search {
	width: 220px;
	height: 30px;
	margin-left: auto;
	margin-right: 3%;
}
.searchBar {
	border-bottom: var(--border);
	display: flex;
	align-items: center;
}
.searchBar:hover {
	border-bottom-color: var(--hover-color);
}
.searchIcon {
	content: url(../media/header/search_icon.png);
	width: 16px;
	height: 16px;
	filter: brightness(100);
	margin: 5px;
}
.searchIcon:hover {
	filter: brightness(1);
}
.searchInput {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1rem;
}
.searchBox {
	background-color: var(--bg);
	border: var(--border);
	border-top: none;
	overflow-y: auto;
}
.searchBoxHide {
	display: none;
}
.searchBox li {
	outline: 1px solid #525252;
	padding: 5px;
	display: block;
	overflow-x: auto;
}
.searchBox li:hover {
	background-color: var(--hover-color);
}
/*==================================================*/
/*Sidebar*/
.sidebar {
	background-color: var(--bg);
	border-bottom: var(--border);
	border-right: var(--border);
	width: 200px;
	height: 90%;
	position: fixed;
	overflow-y: auto;
	z-index: 2;
	transition: 0.5s;
}
.sidebar::-webkit-scrollbar-thumb {
	border-right: none;
}
.sidebar::-webkit-scrollbar-thumb:hover {
	border-right: 2px solid var(--hover-color);
}
.sidebarTitle {
	border-bottom: var(--border);
	width: fit-content;
	margin: 10px;
	font-size: 2rem;
}
.sidebarLine {
	outline: 1px solid #525252;
}
.sidebar li {
	outline: 1px solid #525252;
	padding: 10px;
	display: block;
	overflow-x: auto;
	font-size: 1rem;
}
.sidebar li::before {
	content: "▷";
	margin-right: 3px;
	display: inline-block;
}
.sidebarEnd {
	border-top: var(--border);
	height: 10%;
}
.sidebarBlur {
	background: rgba(38, 38, 38, .80);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	transition: 0.5s;
}
.sidebarClose {
	border: none;
	width: 0;
	transition: 0.5s;
}
/*==================================================*/
/*Dropdown*/
.contentBox .dropdown {
	width: fit-content;
}
.dropdown::before {
	color: #ff2626;
}
.dropdownActive {
}
.dropdownActive::before {
	color: lime;
	transform: rotate(90deg);
}
.dropdownHide {
	display: none;
}
.dropdownShow {
	display: block;
}
.dropdownShow li {
	padding-left: 20px;
}
.dropdownTab {
	padding-left: 10px;
}
/*==================================================*/
/*Text color/decoration*/
.textLink:link, .textLink:visited {
	color: #3b82f6;
	text-decoration: none;
}
.textLink:hover {
	color: var(--hover-color);
	text-decoration: underline;
}
.textLink:active {
	color: yellow;
	text-decoration: underline;
}
.textCommand {
	color: #c67d4e;
	user-select: text;
}
.textSyntax {
	color: #00e9ed;
	user-select: text;
}
.textNote {
	color: #ff2626 !important;
	font-style: italic;
}
.textNote::before {
	content: "(";
}
.textNote::after {
	content: ")";
}
.textNote:hover {
	font-size: 1.5rem;
}
.textWip:after {
	content: " (WIP) ";
	color: yellow;
}
/*==================================================*/
/*Content*/
.content {
	display: flex;
	flex-direction: column;
}
.contentHeader {
	background-color: var(--bg);
	border: var(--border);
	margin: 15px 15px 0 15px;
	padding: 10px;
	align-self: center;
	font-size: 2rem;
	font-weight: bold;
}
.contentBox {
	background-color: var(--bg);
	border: var(--border);
	margin: 15px;
	margin-bottom: 0;
}
.contentGroup {
	margin: 10px;
	display: flex;
	align-items: center;
}
.contentIcon {
	margin-right: 5px;
	width: 45px;
	height: 45px;
}
.contentTitle {
	border-bottom: var(--border);
	width: fit-content;
	padding-bottom: 2px;
	font-size: 2rem;
	font-weight: bold;
}
.contentText {
	margin: 5px 10px 5px 10px;
}
.contentText::before {
	content: "▷";
	margin-right: 3px;
	display: inline-block;
}
.explainButton {
	display: flex;
	align-items: center;
}
/*==================================================*/
/*Icon*/
.iconInfo {
	content: url(../media/icon/icon_info.png);
}
.iconInfo:hover {
	content: url(../media/icon/icon_info_hover.png);
}
.iconCongDung {
	content: url(../media/icon/icon_cong_dung.png);
}
.iconCongDung:hover {
	animation: congDung 1s linear infinite;
}
@keyframes congDung {
	100% {
		transform: rotateZ(360deg);
	}
}
.iconDoiTuong {
	content: url(../media/icon/icon_doi_tuong.png);
}
.iconDoiTuong:hover {
	animation: doiTuong 1s linear infinite;
}
@keyframes doiTuong {
	100% {
		transform: rotateY(360deg);
	}
}
.iconCuPhap {
	content: url(../media/icon/icon_cu_phap.png);
}
.iconCuPhap:hover {
	content: url(../media/icon/icon_cu_phap.gif);
}
.iconLuuY {
	content: url(../media/icon/icon_luu_y.png);
}
.iconLuuY:hover {
	animation: luuY 1s linear infinite;
}
@keyframes luuY {
	60% {
		transform: translateY(-6px);
	}
}
.iconAds {
	content: url(../media/icon/icon_ads.png);
}
.goTop {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 2%;
	bottom: 3%;
}
.goTop:hover {
	outline: 2px solid var(--hover-color);
	animation: luuY 1s linear infinite;
}
.goTop:active {
	outline: 2px solid yellow;
}
.goTopIcon {
	content: url(../media/icon/icon_go_top.png);
}
.explainButtonIcon {
	margin: 0 5px 0 0;
	width: 32px;
	height: 32px;
}
/*==================================================*/
/*Image*/
.image404 {
	content: url(../media/image/404_error.png);
	width: 50%;
	height: 50%;
	margin: 5px auto 5px auto;
}
.imageRx {
	content: url(../media/image/rx.png);
	width: 40%;
	height: 40%;
	margin: 5px auto 5px auto;
}
.imageRy {
	content: url(../media/image/ry.png);
	width: 40%;
	height: 40%;
	margin: 5px auto 5px auto;
}
.imageCmdbUi {
	content: url(../media/image/cmdb_ui.png);
	width: 50%;
	height: 50%;
	margin: 5px auto 5px auto;
}
.imageCmdbType {
	content: url(../media/image/cmdb_type.png);
	width: 30%;
	height: 30%;
	margin: 5px auto 5px auto;
}
.imageCmdbCondition {
	content: url(../media/image/cmdb_condition.png);
	width: 30%;
	height: 30%;
	margin: 5px auto 5px auto;
}
.imageCmdbRedstone {
	content: url(../media/image/cmdb_redstone.png);
	width: 30%;
	height: 30%;
	margin: 5px auto 5px auto;
}
.imageDamage {
	content: url(../media/image/damage.png);
	width: 50%;
	height: 50%;
	margin: 5px auto 5px auto;
}
.imageRick {
	content: url(../media/image/rick_roll.gif);
	width: 50%;
	height: 50%;
	margin: 5px auto 5px auto;
	display: none;
}
.imageHg {
	content: url(../media/image/hg.png);
	margin: 5px auto 5px auto;
	width: 20%;
	height: 20%;
}
.imageGlyph {
	content: url(../media/image/glyph.png);
	width: 50%;
	height: 50%;
	margin: 5px auto 5px auto;
}
/*==================================================*/
/*Thuộc Footer*/
footer {
	background-color: var(--bg);
	border-top: var(--border);
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.socialLogo {
	width: 40px;
	height: 40px;
	margin: 10px 8px 0 8px;
}
.logoYoutube {
	content: url(../media/logo/logo_youtube.png);
	filter: brightness(100);
}
.logoYoutube:hover {
	filter: brightness(1);
}
.logoDiscord {
	content: url(../media/logo/logo_discord.png);
	filter: brightness(100);
}
.logoDiscord:hover {
	filter: brightness(1);
}
.logoTwitter {
	content: url(../media/logo/logo_twitter.png);
	filter: brightness(100);
}
.logoTwitter:hover {
	filter: brightness(1);
}
.logoFacebook {
	content: url(../media/logo/logo_facebook.png);
	filter: brightness(100);
}
.logoFacebook:hover {
	filter: brightness(1);
}
.copyright {
	margin: 5px 0 5px 0;
	display: flex;
	align-items: center;
}
.copyright1 {
	align-items: center;
	display: flex;
}
.copyrightSide::before {
	content: "|";
	margin-right: 3px;
	margin-left: 3px;
}
/*==================================================*/
/*Mobile*/
@media (max-width: 767px) {
	.cursor {
		display: none;
	}
	.themeLight .sidebar {
		border-left-color: var(--border-light);
	}
	header {
		align-items: center;
		flex-wrap: wrap;
	}
	table {
		font-size: .75rem;
	}
	.iframe {
		display: none;
	}
	.uuid {
		font-size: .75rem;
	}
	.glyphFlex {
		width: 70%;
	}
	.logoWiki {
		order: 1;
		margin-left: 5px;
	}
	.headerTitle {
		order: 2;
		margin-top: 3px;
		font-size: 1.125rem;
	}
	.sidebarIcon {
		order: 3;
		margin-left: auto;
	}
	.search {
		order: 4;
		margin: 0 auto 1% auto;
		justify-content: center;
	}
	.themeIcon {
		order: 5;
	}
	.sidebar {
		border-left: var(--border);
		border-right: none;
		right: 0;
	}
	.sidebar::-webkit-scrollbar-thumb {
		border-right: var(--border);
	}
	.sidebarTitle {
		font-size: 1.5rem;
	}
	.sidebar li {
		font-size: .875rem;
	}
	.sidebarBlur {
		right: 0;
	}
	.contentTitle {
		width: fit-content;
		margin: 10px;
		font-size: 1.5rem;
	}
	.contentText {
		margin: 5px;
		margin-left: 10px;
		font-size: .75rem;
	}
	.explainButtonIcon {
		width: 24px;
		height: 24px;
		margin: 0 4px 0 0;
	}
	.image404 {
		width: 80%;
		height: 80%;
	}
	.imageRx {
		width: 90%;
		height: 90%;
	}
	.imageRy {
		width: 90%;
		height: 90%;
	}
	.imageCmdbUi {
		width: 80%;
		height: 80%;
	}
	.imageCmdbType {
		width: 60%;
		height: 60%;
	}
	.imageCmdbCondition {
		width: 60%;
		height: 60%;
	}
	.imageCmdbRedstone {
		width: 60%;
		height: 60%;
	}
	.imageDamage {
		width: 80%;
		height: 80%;
	}
	.imageRick {
		width: 80%;
		height: 80%;
		display: block;
	}
	.imageHg {
		width: 50%;
		height: 50%;
	}
	.imageGlyph {
		width: 80%;
		height: 80%;
	}
	.socialLogo {
		width: 30px;
		height: 30px;
	}
	.copyright {
		font-size: .75rem;
	}
	.copyright {
		flex-direction: column;
	}
	.copyrightSide {
		display: none;
	}
	.copyright2 {
		order: 1;
	}
	.copyright3 {
		order: 2;
	}
	.copyright1 {
		order: 3;
	}
}
/*==================================================*/