/*==================================================*/
/*Mặc định*/
	@font-face {
		font-family: minecraft;
		src: url(../fonts/Minecrafter.Reg.ttf);
	}
	@font-face {
		font-family: scp;
		src: url(../fonts/SourceCodePro-Regular.ttf);
	}
	:root {
		--border: 2px solid #525252;
		--bg: #171717;
		--hover-color: #1d4ed8;
		--border-light: #d7d7d7;
		--bg-light: #cadeef;
		--color-lime: #00cc00;
	}
	* {
		cursor: none;
		user-select: none;
		scroll-behavior: smooth;
		margin: 0;
		padding: 0;
		color: white;
		font-family: scp;
		list-style: none;
		text-decoration: none;
	}
	body {
		background-color: #262626;
		font-size: 16px;
	}
	/*Custom Scrollbar*/
	::-webkit-scrollbar {
		background-color: #262626;
		width: 10px;
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--bg);
		border: var(--border);
	}
	::-webkit-scrollbar-thumb:hover {
		border: 2px solid var(--hover-color);
	}
	li::-webkit-scrollbar {
		height: 10px;
	}
	.iframe {
		width: 800px;
		height: 450px;
		margin: 10px auto 10px auto;
		display: block;
	}
	del {
		text-decoration: line-through;
	}
	ins {
		text-decoration: underline;
	}
/*==================================================*/
/*Custom Cursor*/
	.cursor {
		pointer-events: none;
		content: url(../media/cursor/default.png);
		width: 2.5rem;
		height: 2.5rem;
		display: block;
		position: fixed;
		/*transform: rotateZ(-45deg);*/
		z-index: 100;
	}
	.cursorOut {
		display: none;
	}
	.cursorTyping {
		content: url(../media/cursor/typing.png);
	}
	.cursorCopy {
		content: url(../media/cursor/copy.png);
	}
	.cursorWip {
		content: url(../media/icon/icon_luu_y.png);
	}
	.cursorExpand {
		content: url(../media/cursor/expand.png);
	}
	.cursorCollapse {
		content: url(../media/cursor/collapse.png);
	}
	.cursorZoom {
		content: url(../media/cursor/zoom.png);
	}
	.cursorClick {
		content: url(../media/cursor/click.png);
		width: 30px;
		height: 40px;
		transform: rotateZ(-45deg);
	}
/*==================================================*/
/*Theme*/
	.themeLight {
		background-color: #f3f3f3;
	}
	.themeLight * {
		color: black;
	}
	.themeLight header {
		background-color: var(--bg-light);
		border-bottom-color: var(--border-light);
		color: black;
	}
	.themeLight::-webkit-scrollbar {
		background-color: #f3f3f3;
	}
	.themeLight::-webkit-scrollbar-thumb {
		background-color: var(--bg-light);
		border-color: var(--border-light);
	}
	.themeLight::-webkit-scrollbar-thumb:hover {
		border: 2px solid var(--hover-color);
	}
	.themeLight .sidebar::-webkit-scrollbar {
		background-color: #f3f3f3;
	}
	.themeLight .sidebar::-webkit-scrollbar-thumb {
		background-color: var(--bg-light);
		border-color: var(--border-light);
	}
	.themeLight .sidebar::-webkit-scrollbar-thumb:hover {
		border: 2px solid var(--hover-color);
	}
	.themeLight .sidebarIconClose {
		filter: brightness(0);
	}
	.themeLight .sidebarIconOpen {
		filter: brightness(0);
	}
	.themeLight .searchBar {
		border-bottom-color: var(--border-light);
	}
	.themeLight .searchIcon {
		filter: brightness(0);
	}
	.themeLight .searchBox {
		background-color: var(--bg-light);
		border-color: var(--border-light);
	}
	.themeLight .searchBox li {
		outline-color: var(--border-light);
	}
	.themeLight .searchBox li:hover {
		background-color: var(--hover-color);
	}
	.themeLight .sidebar {
		background-color: #f3f3f3;
		border-right-color: var(--border-light);
	}
	.themeLight .sidebarTitle {
		border-bottom-color: var(--border-light);
	}
	.themeLight .sidebarLine {
		background-color: var(--border-light);
		border-color: var(--border-light);
	}
	.themeLight .sidebarEnd {
		border-top-color: var(--border-light);
	}
	.themeLight .sidebarBlur {
		background: rgba(222, 222, 222, .80);
	}
	.themeLight .contentHeader {
		border-color: var(--border-light);
	}
	.themeLight .contentTitle {
		border-bottom-color: var(--border-light);
	}
	.themeLight footer {
		background-color: var(--bg-light);
		border-top-color: var(--border-light);
	}
	.themeLight .logoYoutube {
		filter: brightness(0);
	}
	.themeLight .logoDiscord {
		filter: brightness(0);
	}
	.themeLight .logoTwitter {
		filter: brightness(0);
	}
	.themeLight .logoFacebook {
		filter: brightness(0);
	}
/*==================================================*/
/*Thuộc Header*/
	header {
		background-color: var(--bg);
		border-bottom: var(--border);
		display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 3;
	}
	.sidebarIcon {
		width: 45px;
		height: 45px;
		margin: 5px;
	}
	.sidebarIconClose {
		content: url(../media/header/sidebar_icon_close.png);
		filter: brightness(100);
	}
	.sidebarIconClose:hover {
		filter: brightness(1);
	}
	.sidebarIconOpen {
		content: url(../media/header/sidebar_icon_open.png);
		filter: brightness(100);
	}
	.sidebarIconOpen:hover {
		filter: brightness(1);
	}
	.logoWiki {
		content: url(../media/logo/logo_wiki.png);
		width: 45px;
		height: 45px;
		margin: 5px;
		margin-left: 10px;
	}
	.logoWiki:hover {
		filter: hue-rotate(-150deg);
	}
	.headerTitle {
		margin-top: 3px;
		font-family: minecraft;
		font-size: 1.875rem;
		text-decoration: none;
	}
	.themeIcon {
		width: 45px;
		height: 45px;
		margin: 5px;
	}
	.themeIconDark {
		content: url(../media/header/theme_dark.png);
	}
	.themeIconDark:hover {
		content: url(../media/header/theme_light.png);
	}
	.themeIconLight {
		content: url(../media/header/theme_light.png);
	}
	.themeIconLight:hover {
		content: url(../media/header/theme_dark.png);
	}
	.search {
		width: 220px;
		height: 30px;
		margin-left: auto;
		margin-right: 3%;
	}
	.searchBar {
		border-bottom: var(--border);
		display: flex;
		align-items: center;
	}
	.searchBar:hover {
		border-bottom-color: var(--hover-color);
	}
	.searchIcon {
		content: url(../media/header/search_icon.png);
		width: 16px;
		height: 16px;
		filter: brightness(100);
		margin: 5px;
	}
	.searchIcon:hover {
		filter: brightness(1);
	}
	.searchInput {
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 1rem;
	}
	.searchBox {
		background-color: #262626;
		border: var(--border);
		border-top: none;
		overflow-y: auto;
	}
	.searchBoxHide {
		display: none;
	}
	.searchBox li {
		outline: 1px solid #525252;
		padding: 5px;
		display: block;
		overflow-x: auto;
	}
	.searchBox li:hover {
		background-color: var(--hover-color);
	}
/*==================================================*/
/*Sidebar*/
	.sidebar {
		background-color: #262626;
		border-right: var(--border);
		border-bottom: var(--border);
		width: 200px;
		height: 90%;
		position: fixed;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 2;
		transition: .3s;
	}
	.sidebar::-webkit-scrollbar-thumb {
		border-right: none;
	}
	.sidebar::-webkit-scrollbar-thumb:hover {
		border-right: 2px solid var(--hover-color);
	}
	.sidebarTitle {
		border-bottom: var(--border);
		width: fit-content;
		margin: 10px;
		font-size: 2rem;
	}
	.sidebarLine {
		border: 1px solid #525252;
		background-color: #525252;
	}
	#sidebarTrangChu {
		margin-left: 6px;
	}
	.sidebarDropdown {
		margin-left: 2px;
	}
	.sidebarEnd {
		border-top: var(--border);
		height: 10%;
		margin-top: 16px;
	}
	.sidebarBlur {
		background: rgba(38, 38, 38, .80);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
	}
	.sidebarClose {
		border: none;
		width: 0;
	}
/*==================================================*/
/*Dropdown*/
	.contentBox .dropdown {
		width: fit-content;
	}
	.dropdown {
		margin-left: 18px;
		position: relative;
	}
	.dropdown::before {
		content: "";
		border: solid #ff2626;
		border-width: 0 3px 3px 0;
		padding: 4px;
		position: absolute;
		transform: rotate(-45deg) translateX(-17px) translateY(-7px);
		transition: .3s;
	}
	.dropdownActive::before {
		content: "";
		border-color: var(--color-lime);
		transform: rotate(45deg) translateX(-7.8px) translateY(15.2px);
	}
	.dropdownHide {
		display: none;
	}
	.dropdownShow {
		display: flex;
	}
	.dropdownStart {
		margin-left: 6px;
	}
	.dropdownStart::before {
		content: "";
		border-left: 3px solid var(--color-lime);
		display: inline-block;
		transform: translateY(-8px);
	}
	.dropdownText {
		margin-left: 18px;
		display: block;
		position: relative;
	}
	.dropdownText::before {
		content: "";
		width: 16px;
		border-bottom: 3px solid var(--color-lime);
		position: absolute;
		transform: translateX(-20px) translateY(11px);
	}
	.dropdownEnd {
		border-bottom: 3px solid var(--color-lime);
		border-left: 3px solid var(--color-lime);
		height: 10px;
		transform: translateX(-3px);
	}
/*==================================================*/
/*Text color/decoration*/
	.textLink {
		width: fit-content;
	}
	.textLink:link,
	.textLink:visited {
		color: #3b82f6;
		text-decoration: none;
	}
	.textLink:hover {
		color: var(--hover-color);
		text-decoration: underline;
	}
	.textLink:active {
		color: yellow;
		text-decoration: underline;
	}
	.textCommand,
	.textSyntax {
		background-color: var(--bg);
		border: var(--border);
		border-width: 1px;
		border-radius: 3px;
		padding: 1px 4px;
		user-select: text;
	}
	.textCommand {
		color: #c67d4e;
	}
	.textSyntax {
		color: #00e9ed;
	}
	.textNote {
		color: #ff2626 !important;
		font-style: italic;
	}
	.textNote::before {
		content: "(";
	}
	.textNote::after {
		content: ")";
	}
	.textWip:after {
		content: " (WIP) ";
		color: yellow;
	}
/*==================================================*/
/*Content*/
	.content {
		display: flex;
		flex-direction: column;
	}
	.contentHeader {
		border-bottom: var(--border);
		margin: 25px 0 0;
		padding-bottom: 2px;
		align-self: center;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
	}
	.contentBox {
		/*background-color: var(--bg);*/
		/*border: var(--border);*/
		margin: 24px 16px 24px 16px;
	}
	.contentGroup {
		display: flex;
		align-items: center;
	}
	.contentIcon {
		margin-right: 5px;
		width: 45px;
		height: 45px;
	}
	.contentTitle {
		border-bottom: var(--border);
		width: 100%;
		padding-bottom: 2px;
		font-size: 2rem;
		font-weight: bold;
	}
	.contentText,
	.dropdownText {
		margin-top: 16px;
		display: block;
		/*letter-spacing: 0.6px;*/
		line-height: 1.6;
	}
	/*.contentText::before {
		content: "";
		height: 0.9em;
		width: 0.9em;
		background: url(../media/icon/triangle.png);
		background-size: contain;
		background-repeat: no-repeat;
		filter: brightness(100);
		display: inline-block;
	}*/
/*==================================================*/
/*Icon*/
	.iconInfo {
		content: url(../media/icon/icon_info.png);
	}
	.iconInfo:hover {
		content: url(../media/icon/icon_info_hover.png);
	}
	.iconCongDung {
		content: url(../media/icon/icon_cong_dung.png);
	}
	.iconCongDung:hover {
		animation: congDung 1s linear infinite;
	}
	@keyframes congDung {
		100% {
			transform: rotateZ(360deg);
		}
	}
	.iconDoiTuong {
		content: url(../media/icon/icon_doi_tuong.png);
	}
	.iconDoiTuong:hover {
		animation: doiTuong 1s linear infinite;
	}
	@keyframes doiTuong {
		100% {
			transform: rotateY(360deg);
		}
	}
	.iconCuPhap {
		content: url(../media/icon/icon_cu_phap.png);
	}
	.iconCuPhap:hover {
		content: url(../media/icon/icon_cu_phap.gif);
	}
	.iconLuuY {
		content: url(../media/icon/icon_luu_y.png);
	}
	.iconLuuY:hover {
		animation: luuY 1s linear infinite;
	}
	@keyframes luuY {
		60% {
			transform: translateY(-6px);
		}
	}
	.iconAds {
		content: url(../media/icon/icon_ads.png);
	}
	.goTop {
		width: 50px;
		height: 50px;
		position: fixed;
		right: 2%;
		bottom: 3%;
	}
	.goTop:hover {
		outline: 2px solid var(--hover-color);
		animation: luuY 1s linear infinite;
	}
	.goTop:active {
		outline: 2px solid yellow;
	}
	.goTopIcon {
		content: url(../media/icon/icon_go_top.png);
	}
	.explainButtonIcon {
		margin: 0 5px 0 0;
		width: 32px;
		height: 32px;
	}
/*==================================================*/
/*Thuộc Footer*/
	footer {
		background-color: var(--bg);
		border-top: var(--border);
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.socialLogo {
		width: 40px;
		height: 40px;
		margin: 10px 8px 0 8px;
	}
	.logoYoutube {
		content: url(../media/logo/logo_youtube.png);
		filter: brightness(100);
	}
	.logoYoutube:hover {
		filter: brightness(1);
	}
	.logoDiscord {
		content: url(../media/logo/logo_discord.png);
		filter: brightness(100);
	}
	.logoDiscord:hover {
		filter: brightness(1);
	}
	.logoTwitter {
		content: url(../media/logo/logo_twitter.png);
		filter: brightness(100);
	}
	.logoTwitter:hover {
		filter: brightness(1);
	}
	.logoFacebook {
		content: url(../media/logo/logo_facebook.png);
		filter: brightness(100);
	}
	.logoFacebook:hover {
		filter: brightness(1);
	}
	.copyright {
		margin: 5px 0 5px 0;
		display: flex;
		align-items: center;
	}
	.copyright1 {
		align-items: center;
		display: flex;
	}
	.copyrightSide::before {
		content: "|";
		margin-right: 3px;
		margin-left: 3px;
	}
/*==================================================*/
/*Mobile*/
@media (max-width: 767px) {
	* {
		cursor: auto;
	}
	.cursor {
		display: none;
	}
	.themeLight .sidebar {
		border-left-color: var(--border-light);
	}
	.iframe {
		display: none;
	}
	header {
		align-items: center;
		flex-wrap: wrap;
	}
	.logoWiki {
		order: 1;
		cursor: pointer;
		margin-left: 5px;
	}
	.headerTitle {
		order: 2;
		cursor: pointer;
		margin-top: 3px;
		font-size: 1.125rem;
	}
	.sidebarIcon {
		order: 3;
		cursor: pointer;
		margin-left: auto;
	}
	.search {
		order: 4;
		margin: 0 auto 1% auto;
		justify-content: center;
	}
	.searchIcon,
	.searchBox li {
		cursor: pointer;
	}
	.themeIcon {
		order: 5;
		cursor: pointer;
	}
	.sidebar {
		border-left: var(--border);
		border-right: none;
		right: 0;
	}
	.sidebar::-webkit-scrollbar-thumb {
		border-right: var(--border);
	}
	.sidebarTitle {
		font-size: 1.5rem;
	}
	.sidebarBlur {
		right: 0;
	}
	.sidebarClose {
		border: none;
	}
	.dropdown {
		cursor: pointer;
	}
	.dropdown::before {
		border-width: 0 2px 2px 0;
		padding: 3px;
		transform: rotate(-45deg) translateX(-15px) translateY(-7px);
	}
	.dropdownActive::before {
		transform: rotate(45deg) translateX(-9px) translateY(13.2px);
	}
	.dropdownStart {
		margin-left: 5px;
	}
	.dropdownStart::before {
		border-left-width: 2px;
		transform: translateY(-8px);
	}
	.dropdownText::before {
		border-bottom-width: 2px;
		transform: translateX(-20px) translateY(8.5px);
	}
	.dropdownEnd {
		border-width: 0 0 2px 2px;
		height: 6px;
		transform: translateX(-2px);
	}
	.textLink {
		cursor: pointer;
	}
	.textNote {
		cursor: zoom-in;
	}
	.textWip {
		cursor: progress;
	}
	.contentTitle {
		font-size: 1.5rem;
	}
	.contentText,
	.dropdownText {
		margin-top: 12px;
		font-size: .75rem;
	}
	.iconInfo,
	.iconCongDung,
	.iconDoiTuong,
	.iconCuPhap,
	.iconLuuY,
	.iconAds {
		cursor: help;
	}
	.goTop {
		cursor: pointer;
	}
	.socialLogo {
		cursor: pointer;
		width: 30px;
		height: 30px;
	}
	.copyright {
		font-size: .75rem;
	}
	.copyright {
		flex-direction: column;
	}
	.copyrightSide {
		display: none;
	}
	.copyright2 {
		order: 1;
	}
	.copyright3 {
		order: 2;
	}
	.copyright1 {
		order: 3;
	}
}
/*==================================================*/