/*==================================================*/
	.result {
		margin: 10px 0;
		user-select: text;
		font-size: 1.875rem;
		text-align: center;
	}
	.buttonGroup {
		display: flex;
		justify-content: space-around;
	}
	.cButton {
		background-color: transparent;
		border: var(--border);
		padding: 5px;
		font-size: 1.25rem;
	}
	.cButton:hover {
		border-color: var(--hover-color);
	}
	.cButton:active {
		border-color: yellow;
	}
	.cInput, .cTextarea {
		background-color: transparent;
		border: none;
		border-bottom: var(--border);
		outline: none;
		margin-left: 20px;
		resize: none;
		font-size: 1rem;
	}
	.cInput:hover {
		border-bottom: 2px solid var(--hover-color);
	}
/*==================================================*/
/*Glyph*/
	.glyphFlex1 {
		display: flex;
	}
	.glyphFlex2 {
		margin: auto;
		display: flex;
		flex-direction: column;
	}
	.glyphTable th,
	.glyphTable td {
		width: 26px;
		height: 26px;
		padding: 0;
		text-align: center;
	}
	.glyphTable td:hover {
		border-color: var(--hover-color);
		outline: 2px solid var(--hover-color);
	}
/*==================================================*/

	.colorText {
		text-align: center;
	}
	.uuid {
		margin: 30px 0;
	}
	.dialogueSpace {
		margin-bottom: 20px;
	}
	.dialogueFlex {
		display: flex;
		flex-wrap: wrap;
	}
@media (max-width: 767px) {
	.cButton {
		font-size: 1rem;
	}
	.cInput,
	.cTextarea {
		font-size: .75rem;
	}
	.glyphFlex1 {
		flex-wrap: wrap;
	}
	.uuid {
		font-size: .75rem;
	}
}