.colorText {
	text-align: center;
}
.cButton {
	background-color: transparent;
	border: var(--border);
	margin: 20px;
	padding: 5px;
	font-size: 1.25rem;
}
.cButton:hover {
	border-color: var(--hover-color);
}
.cButton:active {
	border-color: yellow;
}
.buttonGroup {
	display: flex;
	justify-content: center;
}
.result {
	user-select: text;
	font-size: 1.875rem;
	text-align: center;
}
.uuid {
	margin: 30px 0 30px 0;
}
.glyph {
	margin: 10px 0 10px 0;
}
.glyphFlex {
	width: 30%;
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;
}
.cInput, .cTextarea {
	background-color: transparent;
	border: none;
	border-bottom: var(--border);
	outline: none;
	margin-left: 20px;
	resize: none;
	font-size: 1rem;
}
.cInput:hover {
	border-bottom: 2px solid var(--hover-color);
}
.dialogueSpace {
	margin-bottom: 20px;
}
.dialogueFlex {
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 767px) {
	.uuid {
		font-size: .75rem;
	}
	.glyphFlex {
		width: 70%;
	}
}